<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:b="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                                 http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                                 http://www.springframework.org/schema/security
                                 http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<http auto-config="true" use-expressions="true">
		<intercept-url pattern="/formaPagamento.xhtml" access="hasRole('ROLE_USER')" />
		<intercept-url pattern="/pagamentoRealizado.xhtml"
			access="hasRole('ROLE_USER')" />
		<intercept-url pattern="/formaPagamento.jsf" access="hasRole('ROLE_USER')" />
		<intercept-url pattern="/pagamentoRealizado.jsf" access="hasRole('ROLE_USER')" />
		<intercept-url pattern="/painel/*" access="hasRole('ROLE_USER')" />
		<intercept-url pattern="/paineladm/*" access="hasRole('ROLE_ADM')" />
		<form-login login-page="/index.xhtml"
			authentication-failure-url="/index.xhtml?erro=true" />
		<logout logout-success-url="/index.xhtml" />

	</http>

	<authentication-manager>
		<authentication-provider>
			<jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="SELECT username, password, 'true' as enable FROM users WHERE username=?"
				authorities-by-username-query="SELECT username, authority FROM users WHERE username=?" />
		</authentication-provider>
	</authentication-manager>

	<b:bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<b:property name="url" value="jdbc:mysql://localhost:3306/csh" />
		<b:property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<b:property name="username" value="root" />
		<b:property name="password" value="root" />
	</b:bean>

</b:beans>